@model AirlineService.Data.Entities.Ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Passengers</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Passengers)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>LastName</th>
                    <th>FirstName</th>
                    <th>MiddleName</th>
                </tr>
                @foreach (var item in Model.Passengers)
                {                                           
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MiddleName)
                        </td>                                               
                    </tr>                                                            
                }
                
            </table>
        </dd>
    </dl>
</div>
<div>    
    <a asp-controller="Ticket" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to list
        </a>
</div>
