@model Document

<form method="post" asp-action="Delete">
    <input asp-for="Id" type="hidden" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete document</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Type"></label>
            <input asp-for="Type" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Number"></label>
            <input asp-for="Number" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="PassengerId"></label>
            <input asp-for="PassengerId" disabled class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px">Delete</button>
        <a asp-controller="Passenger" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to list
        </a>
    </div>

</form>
